/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/* Default CSS Document */

/** BODY ELEMENTS **/
/* Default CSS Document */

															/** BODY ELEMENTS **/
* {
	margin: 0;
	padding: 0;
	}
	body {
/*    color: #333;*/
/*    background-color: #fff;*/
    font-family:"Gill Sans", Calibri, Arial, sans-serif;
/*    font-size: .75em;*/
		
		color:#777;
    background:url('../images/page_bg.jpg') #e7e7e7;
    font:20px "Gill Sans", Calibri, Arial, sans-serif;
		}

   h2{
      font-family:"Gill Sans", Calibri, Arial, sans-serif;
      font-size:175%;
      font-weight:normal;
      }

      p, h1, form, button{border:0; margin:0; padding:0;}
      .spacer{clear:both; height:1px;}
      /* ----------- My Form ----------- */
      .myform{
      margin:0 auto;
      width:400px;
      padding:14px;
      }


															/** MAIN CONTAINERS **/
div#container {

	}
	div#header {
		text-align: left;

		}
		div#header-in {

			}
	div#content {

		}
		div#center {
			margin: 0 0 0 180px;
			}
			div#center-in {

				}
		div.column {
			width: 180px;
			}
			div#left {
				float: left;
				}
				div.column-in {

					}
	div#footer {
		clear: both;
		text-align: center;
		}
		div#footer-in {

			}

	/** SUB CONTAINERS **/
* { }

	/** LISTS **/
* { }

	/** TYPOGRAPHY **/
.x {
	display: none;
	}
div#uhoh {
	width: 400px;
	margin: 100px auto;
	padding: 20px 30px;
	line-height: 1.5em;
	text-align: left;
	}
	div.unauthorized-401, div.forbidden-403,
	div.notfound-404, div.internalerror-500 {
		color: #333;
		background-color: #ffc;
		border: 1px solid #ff0;
		}
	div.unauthorized-401 a, div.forbidden-403 a,
	div.notfound-404 a, div.internalerror-500 a {
		color: #00f;
		background-color: #ffc;
		}


  /** FORMS **/

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}