<div id="top_content_signup" >
	<div id="logo_top">
		<%= link_to "", { :controller => 'users', :action => 'index' }, :id => 'logo-link' -%>
	</div>		
</div>
 <div class="clear"></div>
<%= render 'form' %>

